<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>看这里</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">

    <link rel="stylesheet" href="../public/css/ace.min.css">
    <link rel="stylesheet" href="../public/css/ace-rtl.min.css">
    <link rel="stylesheet" href="../public/css/ace-skins.min.css">

    <script src="../public/js/ace-extra.min.js"></script>
    <script src="/public/javascripts/jquery.min.js"></script>
        <style>
        .color{
            color: #fff;
        }
        :hover.color {
            color: #fff;
        }
    </style>
</head>

<body>

    <!-- 导航 -->
    <div class="navbar navbar-default" id="navbar">
        <script type="text/javascript">
            try {
                ace.settings.check('navbar', 'fixed')
            } catch (e) {}
        </script>

        <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="../home" class="navbar-brand">
                    <small>
                        <i class="icon-leaf">
                            看这里
                        </i>
                    </small>
                </a>
            </div>
        </div>

        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="../public/avatars/user.jpg" alt="Jason's Photo">
                        <span class="user-info">
                            <small>welcome,</small>
                            <%= username %>
                        </span>

                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

                        <li class="divider"></li>

                        <li>
                            <a href="../logout">
                                <i class="icon-off"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try {
                ace.settings.check('main-container', 'fixed')
            } catch (e) {}
        </script>

        <div class="main-container-inner">

            <a class="menu-toggler" id="menu-toggler" href="#">
                <span class="menu-text"></span>
            </a>

            <div class="sidebar" id="sidebar">
                <script type="text/javascript">
                    try {
                        ace.settings.check('sidebar', 'fixed')
                    } catch (e) {}
                </script>

                <ul class="nav nav-list">
                    <li>
                        <a href="/prj001">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 展示 </span>
                        </a>
                    </li>

                    <li>
                        <a href="../prj001/datainput">
                            <i class="icon-text-width"></i>
                            <span class="menu-text"> 数据采集 </span>
                        </a>
                    </li>

                    <li>
                        <a href="../public/dataana.html">
                            <i class="icon-list-alt"></i>
                            <span class="menu-text"> 数据分析 </span>
                        </a>
                    </li>

                    <li>
                        <a href="../public/about.html">
                            <i class="icon-tag"></i>
                            <span class="menu-text"> 关于 </span>
                        </a>
                    </li>
                </ul>

                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                </div>

                <script type="text/javascript">
                    try {
                        ace.settings.check('sidebar', 'collapsed')
                    } catch (e) {}
                </script>
            </div>

            <div class="main-content">

                <div class="page-content">

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->

                            <div class="row">
                                <div class="col-xs-12">

                                    <form class="form-search" id="sample-table-2_filter">
                                        <span class="input-icon align-middle">
                                            <i class="icon-search"></i>

                                            <input type="text" class="search-query" placeholder="采集对象人员姓名" />
                                        </span>
                                        <button class="btn btn-sm" onclick="return false;">检索</button>
                                    </form>
                                    <hr>
                                    <div class="table-responsive">
                                        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>1</th>
                                                    <th>1</th>
                                                    <th>1</th>
                                                    <th>身高cm</th>
                                                    <th>体重kg</th>
                                                    <th>血型</th>
                                                    <th class="hidden-480">职业</th>

                                                    <th>
                                                        文化程度
                                                    </th>
                                                    <th class="hidden-480">婚姻状况</th>

                                                    <th>数据修改</th>
                                                </tr>
                                            </thead>

                                            <tbody id="infotable">
                                                <% archives.forEach(function(archive){ %>
                                                <tr>
                                                    <td><a href="../public/bingo.html">
                                                        <%= archive.name %></a></td>
                                                    <td>
                                                        <%= archive.nation %>
                                                    </td>
                                                    <td>
                                                        <%= archive.age %>
                                                    </td>
                                                    <td>
                                                        <%= archive.height %>
                                                    </td>
                                                    <td>
                                                        <%= archive.weight %>
                                                    </td>
                                                    <td>
                                                        <%= archive.blood_type %>
                                                    </td>
                                                    <td class="hidden-480">
                                                        <%= archive.career %>
                                                    </td>
                                                    <td>
                                                        <%= archive.culture %>
                                                    </td>
                                                    <td class="hidden-480">
                                                        <%= archive.marriage %>
                                                    </td>
                                                    <td>
                                                        
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                                            <button id="geninfo" class="btn btn-xs btn-info geninfo" geninfo-url=<%= archive.url %>>
                                                                    <a href="#modal-table" class="color" role="button" data-toggle="modal">一般情况</a>
                                                            </button>
                                                            <button id="menstruation" class="btn btn-xs btn-success menstruation" menstruation-url=<%= archive.menstruation %>>
                                                                    <a href="#modal-table1" class="color" role="button" data-toggle="modal">月经情况</a>
                                                            </button>
                                                            <button id="symptom" class="btn btn-xs btn-danger symptom" symptom-url=<%= archive.symptom %>>
                                                                    <a href="#modal-table2" class="color" role="button" data-toggle="modal">全身症状</a>
                                                                </button>
        
                                                                <button id="other" class="btn btn-xs btn-warning other" other-url=<%= archive.other %>>
                                                                    <a href="#modal-table3" class="color" role="button" data-toggle="modal">其它情况</a>
                                                                </button>
                                                                <button id="cc" class="btn btn-xs btn-info cc" cc-url=<%= archive.clinicalconclusion %>>
                                                                    <a href="#modal-table4" class="color" role="button" data-toggle="modal">临床诊断</a>
                                                                </button>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="inline position-relative">
                                                                <button class="btn btn-minier btn-primary dropdown-toggle"
                                                                    data-toggle="dropdown">
                                                                    <i class="icon-cog icon-only bigger-110"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                                    <li>
                                                                        <a href="#modal-table" class="tooltip-info"
                                                                            data-toggle="modal">
                                                                            <span class="blue">
                                                                                一般情况
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#modal-table1" class="tooltip-success"
                                                                            data-toggle="modal">
                                                                            <span class="green">
                                                                                月经情况
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#modal-table2" class="tooltip-error"
                                                                            data-toggle="modal">
                                                                            <span class="red">
                                                                                全身症状
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#modal-table3" class="tooltip-info"
                                                                            data-toggle="modal">
                                                                            <span class="orange">
                                                                                其他情况
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#modal-table4" class="tooltip-info"
                                                                            data-toggle="modal">
                                                                            <span class="blue">
                                                                                临床诊断
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                                <div class="col-sm-6"></div>
                                                <div class="col-sm-6">
                                                    <div class="dataTables_paginate paging_bootstrap">
                                                        <ul class="pagination">
                                                            <li class="prev disabled">
                                                                <a href=" ">
                                                                    <i class="icon-double-angle-left"></i>
                                                                </a >
                                                            </li>
                                                            <li class="active page-class" id="first-page"><a href="#">1</a ></li>
                                                            <li class="page-class" id="second-page"><a href="#">2</a ></li>
                                                            <li class="page-class" id="third-page"><a href="#">3</a ></li>
                                                            <li class="next">
                                                                <a href="#">
                                                                    <i class="icon-double-angle-right"></i>
                                                                </a >
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!--一般情况-->

                            
                            <div id="modal-table" class="modal fade" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header no-padding">
                                            <div class="table-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    <span class="white">&times;</span>
                                                </button>
                                                一般情况
                                            </div>
                                        </div>
    
                                        <form class="modal-body no-padding" id="form-geninfo">
                                            <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12">
                                                            <!-- <input type="hidden" name="person" value=""/> -->
                                                            <p>
                                                                日期：<input class="form-control" id="recdate" name="recdate"  type="text"/>
                                                            </p>
                                                            <p>
                                                                问卷编码:<input class="form-control" id="serial"  name="serial" type="text" />
                                                            </p>
                                                            <p>
                                                                医院名称:<input class="form-control"  id="hospital" name="hospital" type="text" />
                                                            </p>
                                                            <p>
                                                                填表专家姓名:<input class="form-control" id="expert" name="expert" type="text" />
                                                            </p>
                                                            <p>
                                                                职称:
                                                                <label><input type="radio" value="主任医师" name="title" />主任医师</label>
                                                                <label><input type="radio" value="副主任医师" name="title"/>副主任医师</label>
                                                                <label><input type="radio" value="主治医师" name="title"/>主治医师</label>
                                                            </p>
                                                            <p>
                                                                患者姓名:<input class="form-control" type="text" name="name" id="name" />
                                                            </p>
                                                            <p>
                                                                电话:<input class="form-control" type="text" name="telephone" id="telephone"/>
                                                            </p>
                                                            <p>
                                                                年龄:<input class="form-control" type="number" name="age" id="age"/>
                                                            </p>
                                                            <p>
                                                                身高cm:<input class="form-control" type="number" name="height" id="height"/>
                                                            </p>
                                                            <p>
                                                                体重kg:<input class="form-control" type="text" name="weight" id="weight"/>
                                                            </p>
                                                            <p>
                                                                血型:
                                                                <label><input type="radio" value="A" name="blood_type"/>A</label>
                                                                <label><input type="radio" value="B" name="blood_type"/>B</label>
                                                                <label><input type="radio" value="O" name="blood_type"/>O</label>
                                                                <label><input type="radio" value="AB" name="blood_type"/>AB</label>
                                                            </p>
    
                                                            <p>
                                                                民族:
                                                            <p>
                                                                <label><input type="radio" value="汉族" name="nation"/>汉族</label>
                                                                <label><input type="radio" value="蒙古族" name="nation"/>蒙古族</label>
                                                                <label><input type="radio" value="回族" name="nation"/>回族</label>
                                                                <label><input type="radio" value="藏族" name="nation"/>藏族</label>
                                                                <label><input type="radio" value="维吾尔族" name="nation"/>维吾尔族</label>
                                                                <label><input type="radio" value="苗族" name="nation"/>苗族</label>
                                                                <label><input type="radio" value="彝族" name="nation"/>彝族</label>
                                                                <label><input type="radio" value="壮族" name="nation"/>壮族</label>
                                                                <label><input type="radio" value="布依族" name="nation"/>布依族</label>
                                                                <label><input type="radio" value="朝鲜族" name="nation"/>朝鲜族</label>
                                                                <label><input type="radio" value="满族" name="nation"/>满族</label>
                                                                <label><input type="radio" value="侗族" name="nation"/>侗族</label>
                                                                <label><input type="radio" value="瑶族" name="nation"/>瑶族</label>
                                                                <label><input type="radio" value="白族" name="nation"/>白族</label>
                                                                <label><input type="radio" value="土家族" name="nation"/>土家族</label>
                                                                <label><input type="radio" value="哈尼族" name="nation"/>哈尼族</label>
                                                                <label><input type="radio" value="哈萨克族" name="nation"/>哈萨克族</label>
                                                                <label><input type="radio" value="傣族" name="nation"/>傣族</label>
                                                                <label><input type="radio" value="黎族" name="nation"/>黎族</label>
                                                                <label><input type="radio" value="傈傈族" name="nation"/>傈傈族</label>
                                                                <label><input type="radio" value="佤族" name="nation"/>佤族</label>
                                                                <label><input type="radio" value="畲族" name="nation"/>畲族</label>
                                                                <label><input type="radio" value="高山族" name="nation"/>高山族</label>
                                                                <label><input type="radio" value="拉祜族" name="nation"/>拉祜族</label>
                                                                <label><input type="radio" value="水族" name="nation"/>水族</label>
                                                                <label><input type="radio" value="东乡族" name="nation"/>东乡族</label>
                                                                <label><input type="radio" value="纳西族" name="nation"/>纳西族</label>
                                                                <label><input type="radio" value="景颇族" name="nation"/>景颇族</label>
                                                                <label><input type="radio" value="科尔克孜族" name="nation"/>科尔克孜族</label>
                                                                <label><input type="radio" value="土族" name="nation"/>土族</label>
                                                                <label><input type="radio" value="达斡尔族" name="nation"/>达斡尔族</label>
                                                                <label><input type="radio" value="仫佬族" name="nation"/>仫佬族</label>
                                                                <label><input type="radio" value="羌族" name="nation"/>羌族</label>
                                                                <label><input type="radio" value="布朗族" name="nation"/>布朗族</label>
                                                                <label><input type="radio" value="撒拉族" name="nation"/>撒拉族</label>
                                                                <label><input type="radio" value="毛难族" name="nation"/>毛难族</label>
                                                                <label><input type="radio" value="仡佬族" name="nation"/>仡佬族</label>
                                                                <label><input type="radio" value="锡伯族" name="nation"/>锡伯族</label>
                                                                <label><input type="radio" value="阿昌族" name="nation"/>阿昌族</label>
                                                                <label><input type="radio" value="普米族" name="nation"/>普米族</label>
                                                                <label><input type="radio" value="塔吉克族" name="nation"/>塔吉克族</label>
                                                                <label><input type="radio" value="怒族" name="nation"/>怒族</label>
                                                                <label><input type="radio" value="乌孜别克族" name="nation"/>乌孜别克族</label>
                                                                <label><input type="radio" value="俄罗斯族" name="nation"/>俄罗斯族</label>
                                                                <label><input type="radio" value="鄂温克族" name="nation"/>鄂温克族</label>
                                                                <label><input type="radio" value="崩龙族" name="nation"/>崩龙族</label>
                                                                <label><input type="radio" value="保安族" name="nation"/>保安族</label>
                                                                <label><input type="radio" value="裕固族" name="nation"/>裕固族</label>
                                                                <label><input type="radio" value="京族" name="nation"/>京族</label>
                                                                <label><input type="radio" value="塔塔尔族" name="nation"/>塔塔尔族</label>
                                                                <label><input type="radio" value="独龙族" name="nation"/>独龙族</label>
                                                                <label><input type="radio" value="鄂伦春族" name="nation"/>鄂伦春族</label>
                                                                <label><input type="radio" value="赫哲族" name="nation"/>赫哲族</label>
                                                                <label><input type="radio" value="门巴族" name="nation"/>门巴族</label>
                                                                <label><input type="radio" value="珞巴族" name="nation"/>珞巴族</label>
                                                                <label><input type="radio" value="基诺族" name="nation"/>基诺族</label>
                                                                <label><input type="radio" value="其他" name="nation"/>其他</label>
                                                            </p>
    
                                                            <p>
                                                                职业:
                                                            <p>
                                                                <label><input type="radio" value="学生" name="career"/>学生</label>
                                                                <label><input type="radio" value="个体" name="career"/>个体</label>
                                                                <label><input type="radio" value="农民" name="career"/>农民</label>
                                                                <label><input type="radio" value="军人" name="career"/>军人</label>
                                                                <label><input type="radio" value="工人" name="career"/>工人</label>
                                                                <label><input type="radio" value="财会人员" name="career"/>财会人员</label>
                                                                <label><input type="radio" value="技术人员" name="career"/>技术人员</label>
                                                                <label><input type="radio" value="服务业" name="career"/>服务业</label>
                                                                <label><input type="radio" value="科教文卫" name="career"/>科教文卫</label>
                                                                <label><input type="radio" value="行政管理" name="career"/>行政管理</label>
                                                                <label><input type="radio" value="无业" name="career"/>无业</label>
                                                                <label><input type="radio" value="其它" name="career"/>其它</label>
                                                            </p>
                                                            <p>
                                                                病人现住址:<input class="form-control" id="address" name="address" type="text"/>
                                                            </p>
                                                            <p>
                                                                病人来源:
                                                                <label><input type="radio" value="门诊" name="entrance"/>门诊</label>
                                                                <label><input type="radio" value="病房" name="entrance"/>病房</label>
                                                            </p>
    
                                                            <p>
                                                                文化程度:
                                                            <p>
                                                                <label><input type="radio" value="文盲" name="culture"/>文盲</label>
                                                                <label><input type="radio" value="小学及以下" name="culture"/>小学及以下</label>
                                                                <label><input type="radio" value="中学或中专" name="culture"/>中学或中专</label>
                                                                <label><input type="radio" value="大专" name="culture"/>大专</label>
                                                                <label><input type="radio" value="本科" name="culture"/>本科</label>
                                                                <label><input type="radio" value="研究生及以上" name="culture"/>研究生及以上</label>
                                                            </p>
    
                                                            </p>
                                                            <p>
                                                                婚姻状况:
                                                            <p>
                                                                <label><input type="radio" value="未婚无性生活" name="marriage"/>未婚无性生活</label>
                                                                <label><input type="radio" value="未婚有性生活" name="marriage"/>未婚有性生活</label>
                                                                <label><input type="radio" value="已婚同居" name="marriage"/>已婚同居</label>
                                                                <label><input type="radio" value="已婚分居" name="marriage"/>已婚分居</label>
                                                                <label><input type="radio" value="离婚" name="marriage"/>离婚</label>
                                                            </p>
    
                                                            <p>
                                                                特殊工种环境：
                                                            <p>
                                                                <label><input name="gaokong" type="checkbox" />高空</label>
                                                                <label><input name="diwen" type="checkbox" />低温</label>
                                                                <label><input name="zaosheng" type="checkbox" />噪声</label>
                                                                <label><input name="fushe" type="checkbox" />辐射</label>
                                                                <label><input name="huagongyinran" type="checkbox" />化工污染</label>
                                                                <label><input name="julieyundong" type="checkbox" />剧烈运动</label>
                                                                <label><input name="qiyou" type="checkbox" />汽油</label>
                                                                <label><input name="wu" type="checkbox" />无</label>
                                                            </p>
                                                            <p>
                                                                饮食偏好：
                                                            <p>
                                                                <label><input name="wuteshu" type="checkbox"/>无特殊</label>
                                                                <label><input name="sushi" type="checkbox" />素食</label>
                                                                <label><input name="suan" type="checkbox" />酸</label>
                                                                <label><input name="tian" type="checkbox" />甜</label>
                                                                <label><input name="xian" type="checkbox" />咸</label>
                                                                <label><input name="xinla" type="checkbox" />辛辣</label>
                                                                <label><input name="you" type="checkbox" />油</label>
                                                                <label><input name="shengleng" type="checkbox" />生冷</label>
                                                                <label><input name="kafei" type="checkbox" />含咖啡因食物或饮品</label>
                                                            </p>
    
                                                            <p>
                                                                其它说明:<input type="text" id="qita" name="qita" value=""/>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </table>
    
                                        </form>
    
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="geninfoBtn">提交</button>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--月经情况-->
                            
                            <div id="modal-table1" class="modal fade" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header no-padding">
                                            <div class="table-header">
                                                
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    <span class="white">&times;</span>
                                                </button>
                                                月经情况
    
                                            </div>
                                        </div>
    
                                        <form class="modal-body no-padding" id="form-menstruation">
                                            
                                            <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12">
                                                    <p>
                                                        初潮年龄:
                                                        <input class="form-control" type="number" name="first_time" id="first_time"/>
                                                    </p>
                                                    <p>
                                                        月经周期:
                                                        <label><input type="radio" value="尚规律" name="cyclicity"/>尚规律</label>
                                                        <label><input type="radio" value="不规律" name="cyclicity"/>不规律</label>
                                                    </p>
                                                    <p>
                                                        月经规律间隔天数:
                                                        <input class="form-control" type="number" name="normal" id="normal"/>
                                                    </p>
                                                    <p>
                                                        月经不规律:
                                                        <label><input type="radio" value="或提前7天以上" name="abnormal"/>或提前7天以上</label>
                                                        <label><input type="radio" value="或1月多次" name="abnormal"/>或1月多次</label>
                                                        <label><input type="radio" value="或数月1次" name="abnormal"/>或数月1次</label>
                                                    </p>
                                                    <p>
                                                        行经天数:
                                                        <label><input type="radio" value="不足2天" name="cyclicity_sum"/>不足2天</label>
                                                        <label><input type="radio" value="3-7天" name="cyclicity_sum"/>3-7天</label>
                                                        <label><input type="radio" value="7天以上" name="cyclicity_sum"/>7天以上</label>
                                                        <label><input type="radio" value="有时几日即净,有时7日以上甚至达半月余不净" name="cyclicity_sum"/>有时几日即净,有时7日以上甚至达半月余不净</label>
                                                    </p>
                                                    <p>
                                                        出血情况:
                                                    <p>
                                                        <label><input type="radio" value="出血量中等，每次约需5-20张卫生巾" name="blood_cond"/>出血量中等，每次约需5-20张卫生巾</label>
                                                        <label><input type="radio" value="出血量多，每次多于20张卫生巾" name="blood_cond"/>出血量多，每次多于20张卫生巾</label>
                                                        <label><input type="radio" value="经量少，每次少于5张卫生巾" name="blood_cond"/>经量少，每次少于5张卫生巾</label>
                                                        <label><input type="radio" value="经量极少，几乎不用卫生巾，用护垫即可" name="blood_cond"/>经量极少，几乎不用卫生巾，用护垫即可</label>
                                                    </p>
                                                    <p>
                                                        出血颜色:
                                                    <p>
                                                        <label><input type="radio" value="淡红" name="blood_color"/>淡红</label>
                                                        <label><input type="radio" value="鲜红" name="blood_color"/>鲜红</label>
                                                        <label><input type="radio" value="暗红" name="blood_color"/>暗红</label>
                                                        <label><input type="radio" value="紫红" name="blood_color"/>紫红</label>
                                                        <label><input type="radio" value="紫黯" name="blood_color"/>紫黯</label>
                                                        <label><input type="radio" value="紫黑" name="blood_color"/>紫黑</label>
                                                        <label><input type="radio" value="褐色" name="blood_color"/>褐色</label>
                                                        <label><input type="radio" value="其他" name="blood_color"/>其他</label>
                                                    </p>
                                                    <p>
                                                        出血质地:
                                                    <p>
                                                        <label><input type="radio" value="正常" name="blood_quality"/>正常</label>
                                                        <label><input type="radio" value="粘稠" name="blood_quality"/>粘稠</label>
                                                        <label><input type="radio" value="清稀" name="blood_quality"/>清稀</label>
                                                    </p>
                                                    <p>
                                                        血块:
                                                    <p>
                                                        <label><input type="radio" value="无" name="blood_block"/>无</label>
                                                        <label><input type="radio" value="偶有" name="blood_block"/>偶有</label>
                                                        <label><input type="radio" value="常夹少量小血块" name="blood_block"/>常夹少量小血块</label>
                                                        <label><input type="radio" value="常夹较大血块" name="blood_block"/>常夹较大血块</label>
                                                    </p>
                                                    <p>
                                                        出血特点:
                                                    <p>
                                                        <label><input type="radio" value="顺畅" name="blood_character"/>顺畅</label>
                                                        <label><input type="radio" value="势急暴下" name="blood_character"/>势急暴下</label>
                                                        <label><input type="radio" value="淋漓不断" name="blood_character"/>淋漓不断</label>
                                                        <label><input type="radio" value="点滴即净" name="blood_character"/>点滴即净</label>
                                                    </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </table>
                                    
                                        </form>
    
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="menstruationBtn">提交</button>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--全身症状-->
                            <div id="modal-table2" class="modal fade" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header no-padding">
                                            <div class="table-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    <span class="white">&times;</span>
                                                </button>
                                                全身症状
                                            </div>
                                        </div>
    
                                        <form class="modal-body no-padding" id="form-symptom">
                                            <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12">
                                                    <p>
                                                        精神：
                                                    <p>
                                                        <label><input name="spirit_jinglichongpei" type="checkbox" value="true"/>精力充沛</label>
                                                        <label><input name="spirit_jianwang" type="checkbox" value="true"/>健忘</label>
                                                        <label><input name="spirit_jingshenbujizhong" type="checkbox" value="true"/>精神不集中</label>
                                                        <label><input name="spirit_shenpifali" type="checkbox" value="true"/>神疲乏力</label>
                                                        <label><input name="spirit_yalida" type="checkbox" value="true"/>学习、工作压力大</label>
                                                        <label><input name="spirit_jiaodabiangu" type="checkbox" value="true"/>个人/家庭遭遇较大变故</label>
                                                        <label><input name="spirit_beishangyuku" type="checkbox" value="true"/>悲伤欲哭</label>
                                                    </p>
                                                    <p>
                                                        情绪：
                                                    <p>
                                                        <label><input name="mood_zhengchang" type="checkbox" value="true"/>正常</label>
                                                        <label><input name="mood_leguankailang" type="checkbox" value="true"/>乐观开朗</label>
                                                        <label><input name="mood_silvguodu" type="checkbox" value="true"/>思虑过度</label>
                                                        <label><input name="mood_xinuwuchang" type="checkbox" value="true"/>喜怒无常</label>
                                                        <label><input name="mood_fanzaoyinu" type="checkbox" value="true"/>烦躁易怒</label>
                                                        <label><input name="mood_jiaolv" type="checkbox" value="true"/>焦虑</label>
                                                        <label><input name="mood_beishangyuku" type="checkbox" value="true"/>悲伤欲哭</label>
                                                        <label><input name="mood_yiyu" type="checkbox" value="true"/>抑郁</label>
                                                        <label><input name="mood_duosiduolv" type="checkbox" value="true"/>多思多虑</label>
                                                        <label><input name="mood_qita" type="checkbox" value="true"/>其它</label>
                                                        其它说明:<input type="text" id="nameTxt10" value="无"/>
                                                    </p>
                                                    <p>
                                                        寒热：
                                                    <p>
                                                        <label><input name="chillfever_zhengchang" type="checkbox" value="true"/>正常</label>
                                                        <label><input name="chillfever_weihan" type="checkbox" value="true"/>畏寒</label>
                                                        <label><input name="chillfever_wuxinfanre" type="checkbox" value="true"/>无心烦躁</label>
                                                        <label><input name="chillfever_wuhouchaore" type="checkbox" value="true"/>午后潮热</label>
                                                        <label><input name="chillfever_direbutui" type="checkbox" value="true"/>低热不退</label>
                                                    </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </table>
                                        </form>
    
    
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="symptomBtn">提交</button>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--其他情况-->
                            <div id="modal-table3" class="modal fade" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header no-padding">
                                            <div class="table-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    <span class="white">&times;</span>
                                                </button>
                                                其它情况
                                            </div>
                                        </div>
    
                                        <form class="modal-body no-padding" id="form-other">
                                            <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12">
                                                    <p>
                                                        出生情况:
                                                    <p>
                                                        <label><input type="checkbox" value="true" name="born_zaochan"/>早产(28周-37周)</label>
                                                        <label><input type="checkbox" value="true" name="born_zuyuechan"/>足月产</label>
                                                        <label><input type="checkbox" value="true" name="born_yindaofenmian"/>阴道分娩</label>
                                                        <label><input type="checkbox" value="true" name="born_pougongchan"/>刨宫产</label>
                                                    </p>
                                                    <p>
                                                        体力状况:
                                                    <p>
                                                        <label><input type="radio" value="好" name="body_cond"/>好</label>
                                                        <label><input type="radio" value="一般" name="body_cond"/>一般</label>
                                                        <label><input type="radio" value="易疲劳乏力" name="body_cond"/>易疲劳乏力</label>
                                                    </p>
                                                    <p>
                                                        职业体力活动:
                                                    <p>
                                                        <label><input type="radio" value="重体力劳动(如：搬运工、清洁工、农场工人、畜牧产工人等)" name="career_labor"/>重体力劳动(如：搬运工、清洁工、农场工人、畜牧产工人等)</label>
                                                        <label><input type="radio" value="中体力劳动(如：家政服务人员、服务生、厨师、护士等)" name="career_labor"/>中体力劳动(如：家政服务人员、服务生、厨师、护士等)</label>
                                                        <label><input type="radio" value="中体力劳动(如：教师、美容美发师、批发商、职员等)" name="career_labor"/>中体力劳动(如：教师、美容美发师、批发商、职员等)</label>
                                                        <label><input type="radio" value="坐式的工作(如：收银员、出纳员、接线员、秘书等)" name="career_labor"/>坐式的工作(如：收银员、出纳员、接线员、秘书等)</label>
                                                    </p>
                                                    <p>
                                                        贫血与否:
                                                    <p>
                                                        <label><input type="radio" value="不详" name="poor_blood"/>不详</label>
                                                        <label><input type="radio" value="贫血" name="poor_blood"/>贫血</label>
                                                        <label><input type="radio" value="不贫血" name="poor_blood"/>不贫血</label>
                                                    </p>
    
                                                    <p>
                                                        体育锻炼:
                                                    <p>
                                                        <label><input type="radio" value="很少（≤1次/周）" name="phycial_exercise"/>很少（≤1次/周）</label>
                                                        <label><input type="radio" value="偶尔（≤3次/周）" name="phycial_exercise"/>偶尔（≤3次/周）</label>
                                                        <label><input type="radio" value="经常（≥4次/周）" name="phycial_exercise"/>经常（≥4次/周）</label>
                                                        <label><input type="radio" value="一般（少量出汗，心率≤120次/分）" name="phycial_exercise"/>一般（少量出汗，心率≤120次/分）</label>
                                                        <label><input type="radio" value="高强度（大汗淋漓，心率>120次/分）" name="phycial_exercise"/>高强度（大汗淋漓，心率>120次/分）</label>
                                                    </p>
                                                    <p>
                                                        一级亲属（母亲、姐妹、女儿）异常子宫出血史:
                                                    <p>
                                                        <label><input type="radio" value="无" name="womb_blood"/>无</label>
                                                        <label><input type="radio" value="有" name="womb_blood"/>有</label>
                                                        <label><input type="radio" value="不详" name="womb_blood"/>不详</label>
                                                    </p>
                                                    <p>
                                                        是否为排卵障碍性:
                                                    <p>
                                                        <label><input type="radio" value="是" name="ovulation"/>是</label>
                                                        <label><input type="radio" value="否" name="ovulation"/>否</label>
                                                        <label><input type="radio" value="不详" name="ovulation"/>不详</label>
                                                    </p>
                                                    <p>
                                                        特殊嗜好：
                                                    <p>
                                                        <label><input name="hobbies_wu" type="checkbox" value="true"/>无</label>
                                                        <label><input name="hobbies_xiyan" type="checkbox" value="true"/>吸烟</label>
                                                        <label><input name="hobbies_yinjiu" type="checkbox" value="true"/>饮酒</label>
                                                        <label><input name="hobbies_qita" type="checkbox" value="true"/>其它</label>
                                                        其它说明:<input type="text" id="nameTxt11" value="无"/>
                                                    </p>
                                                    <p>
                                                        减肥情况：
                                                    <p>
                                                        <label><input name="reducefat_ever" type="checkbox" value="true"/>有减肥</label>
                                                        <label><input name="reducefat_yundong" type="checkbox" value="true"/>运动减肥</label>
                                                        <label><input name="reducefat_jieshi" type="checkbox" value="true"/>节食减肥</label>
                                                        <label><input name="reducefat_yaowu" type="checkbox" value="true"/>药物减肥</label>
                                                        <label><input name="reducefat_qita" type="checkbox" value="true"/>其它</label>
                                                            <p>
                                                        其它说明:<input type="text" id="nameTxt12" value="无"/>
                                                        减肥时长(月):<input  type="number" name="reducefat_persist"/>
                                                    </p>
                                                    <p>
                                                        经期情况:
                                                    <p>
                                                        经期运动：
                                                        <label><input type="radio" value="有" name="mens_yundong"/>有</label>
                                                        <label><input type="radio" value="偶尔" name="mens_yundong"/>偶尔</label>
                                                        <label><input type="radio" value="经常" name="mens_yundong"/>经常</label>
                                                        <label><input type="radio" value="无" name="mens_yundong"/>无</label>
                                                    </p>
                                                    <p>
                                                        经期感冒：
                                                        <label><input type="radio" value="有" name="mens_ganmao"/>有</label>
                                                        <label><input type="radio" value="偶尔" name="mens_ganmao"/>偶尔</label>
                                                        <label><input type="radio" value="经常" name="mens_ganmao"/>经常</label>
                                                        <label><input type="radio" value="无" name="mens_ganmao"/>无</label>
                                                    </p>
                                                    <p>
                                                        经期同房：
                                                        <label><input type="radio" value="有" name="mens_tongfang"/>有</label>
                                                        <label><input type="radio" value="偶尔" name="mens_tongfang"/>偶尔</label>
                                                        <label><input type="radio" value="经常" name="mens_tongfang"/>经常</label>
                                                        <label><input type="radio" value="无" name="mens_tongfang"/>无</label>
                                                    </p>
                                                    <p>
                                                        经期着凉：
                                                        <label><input type="radio" value="有" name="mens_zhaoliang"/>有</label>
                                                        <label><input type="radio" value="偶尔" name="mens_zhaoliang"/>偶尔</label>
                                                        <label><input type="radio" value="经常" name="mens_zhaoliang"/>经常</label>
                                                        <label><input type="radio" value="无" name="mens_zhaoliang"/>无</label>
                                                    </p>
                                                    <p>
                                                        平素带下情况：
                                                    <p>
                                                        <label><input name="leucorrhea_liangshao" type="checkbox" value="true"/>带下量少</label>
                                                        <label><input name="leucorrhea_liangke" type="checkbox" value="true"/>带下量可</label>
                                                        <label><input name="leucorrhea_liangduo" type="checkbox" value="true"/>带下量多</label>
                                                        <label><input name="leucorrhea_sehuang" type="checkbox" value="true"/>带下色黄</label>
                                                        <label><input name="leucorrhea_sebai" type="checkbox" value="true"/>带下色白</label>
                                                        <label><input name="leucorrhea_selv" type="checkbox" value="true"/>带下色绿</label>
                                                        <label><input name="leucorrhea_zhiqingxi" type="checkbox" value="true"/>带下质清稀</label>
                                                        <label><input name="leucorrhea_zhinianchou" type="checkbox" value="true"/>带下质黏稠</label>
                                                    </p>
                                                    <p>
                                                        既往病史：
                                                    <p>
                                                        <label><input name="pasthistory_wu" type="checkbox" value="true"/>无</label>
                                                        <label><input name="pasthistory_yuejingbutiao" type="checkbox" value="true"/>月经不调</label>
                                                        <label><input name="pasthistory_yindaoyan" type="checkbox" value="true"/>阴道炎</label>
                                                        <label><input name="pasthistory_zigongneimoyan" type="checkbox" value="true"/>子宫内膜炎</label>
                                                        <label><input name="pasthistory_zigongneimoyiwei" type="checkbox" value="true"/>子宫内膜异位症</label>
                                                        <label><input name="pasthistory_zigongxianjizheng" type="checkbox" value="true"/>子宫腺肌症</label>
                                                        <label><input name="pasthistory_penqiangyan" type="checkbox" value="true"/>盆腔炎</label>
                                                        <label><input name="pasthistory_zigongjiliu" type="checkbox" value="true"/>子宫肌瘤</label>
                                                        <label><input name="pasthistory_luancaonangzhong" type="checkbox" value="true"/>卵巢囊肿</label>
                                                        <label><input name="pasthistory_ruxianzengsheng" type="checkbox" value="true"/>乳腺增生</label>
                                                        <label><input name="pasthistory_jiazhuangxian" type="checkbox" value="true"/>甲状腺相关疾病</label>
                                                        <label><input name="pasthistory_shengzhiyichang" type="checkbox" value="true"/>生殖器官发育异常</label>
                                                        <label><input name="pasthistory_naochuitiliu" type="checkbox" value="true"/>脑垂体瘤</label>
                                                        <label><input name="pasthistory_feipang" type="checkbox" value="true"/>肥胖</label>
                                                        <label><input name="pasthistory_ganyan" type="checkbox" value="true"/>肝炎</label>
                                                        <label><input name="pasthistory_jiehe" type="checkbox" value="true"/>结核</label>
                                                        <label><input name="pasthistory_qita" type="checkbox" value="true"/>其它</label>
                                                        其它说明:<input type="text" id="nameTxt13" value="无"/>
                                                    </p>
                                                    <p>
                                                        月经不调病史：
                                                    <p>
                                                        <label><input name="pastmens_zhouqiwenluan" type="checkbox" value="true"/>月经周期絮乱</label>
                                                        <label><input name="pastmens_liangduo" type="checkbox" value="true"/>月经量多</label>
                                                        <label><input name="pastmens_zhouqisuoduan" type="checkbox" value="true"/>月经周期缩短</label>
                                                        <label><input name="pastmens_yanhou" type="checkbox" value="true"/>月经延后</label>
                                                        <label><input name="pastmens_yanchang" type="checkbox" value="true"/>行经期延长</label>
                                                        <label><input name="pastmens_tingbi" type="checkbox" value="true"/>月经停闭</label>
                                                        <label><input name="pastmens_chuxie" type="checkbox" value="true"/>经期间出血</label>
                                                    </p>
                                                    <p>
                                                        一级亲属其它病史：
                                                    <p>
                                                        <label><input name="pastfamily_wu" type="checkbox" value="true"/>无</label>
                                                        <label><input name="pastfamily_gaoxueya" type="checkbox" value="true"/>高血压</label>
                                                        <label><input name="pastfamily_tangniaobing" type="checkbox" value="true"/>糖尿病</label>
                                                        <label><input name="pastfamily_xinzangbing" type="checkbox" value="true"/>心脏病</label>
                                                        <label><input name="pastfamily_duonangluanchao" type="checkbox" value="true"/>多囊卵巢综合征</label>
                                                        <label><input name="pastfamily_buxiang" type="checkbox" value="true"/>不详</label>
                                                        <label><input name="pastfamily_qita" type="checkbox" value="true"/>其它</label>
                                                        <p>
                                                        其它说明:<input type="text" id="nameTxt14" value="无"/>
                                                    </p>
                                                    <p>
                                                        孕育史：
                                                    <p>
                                                    孕次总数:<input class="form-control" type="number" name="pastpreg_yuncount"/>
                                                    <p>
                                                    刨宫产次数:<input class="form-control" type="number" name="pastpreg_pougong"/>
                                                    <p>
                                                    顺产次数:<input class="form-control" type="number" name="pastpreg_shunchan"/>
                                                    <p>
                                                    药物流产次数:<input class="form-control" type="number" name="pastpreg_yaoliu"/>
                                                    <p>
                                                    人工流产次数:<input class="form-control" type="number" name="pastpreg_renliu"/>
                                                    <p>
                                                    自然流产次数:<input class="form-control" type="number" name="pastpreg_ziranliu"/>
                                                    <p>
                                                    生化妊娠次数:<input class="form-control" type="number" name="pastpreg_shenghuarenshen"/>
                                                    <p>
                                                    异位妊娠次数:<input class="form-control" type="number" name="pastpreg_yiweirenshen"/>
                                                    <p>
                                                    胎停育次数:<input class="form-control" type="number" name="pastpreg_taitingyu"/>
                                                    <p>
                                                    清宫术次数:<input class="form-control" type="number" name="pastpreg_qinggongshu"/>
                                                    </p>
                                                    <p>
                                                        避孕措施：
                                                    <p>
                                                        <label><input name="prevent_jieza" type="checkbox" value="true"/>结扎</label>
                                                        <label><input name="prevent_jieyuqi" type="checkbox" value="true"/>宫内节育器</label>
                                                        <label><input name="prevent_biyuntao" type="checkbox" value="true"/>避孕套</label>
                                                        <label><input name="prevent_biyunyao" type="checkbox" value="true"/>口服避孕药</label>
                                                        <p>
                                                        末次口服避孕药时间:<input class="form-control" type="number" name="prevent_biyunyao_time"/>
                                                        <p>
                                                        <label><input name="prevent_mafulong" type="checkbox" value="true"/>去氧孕烯炔雌片（妈富隆）</label>
                                                        <label><input name="prevent_daying" type="checkbox" value="true"/>炔雌醇环丙孕酮片（达英-35）</label>
                                                        <label><input name="prevent_yousiming" type="checkbox" value="true"/>屈螺酮炔雌醇片（优思明）</label>
                                                        <label><input name="prevent_zuoque" type="checkbox" value="true"/>左炔诺孕酮复方左炔诺孕酮</label>
                                                        <label><input name="prevent_fufang" type="checkbox" value="true"/>复方左炔诺孕酮</label>
                                                        <label><input name="prevent_qita" type="checkbox" value="true"/>其它</label>
                                                            &nbsp
                                                        其它说明:<input type="text" id="nameTxt15" value="无"/>
                                                    </p>
                                                    <p>
                                                        其它辅助检查：
                                                    <p>
                                                    血红蛋白值：
                                                        <label><input type="radio" value=">110" name="accessory_hgb_value"/>>110</label>
                                                        <label><input type="radio" value="91-110" name="accessory_hgb_value"/>91-110</label>
                                                        <label><input type="radio" value="61-90" name="accessory_hgb_value"/>61-90</label>
                                                        <label><input type="radio" value="30-60" name="accessory_hgb_value"/>30-60</label>
                                                    <p>
                                                        <label><input name="accessory_quanxuexibaojishu" type="checkbox" value="true"/>全血细胞计数</label>
                                                        <label><input name="accessory_chuxuexingjibing" type="checkbox" value="true"/>出血性疾病筛查（如女性血管性血友病）</label>
                                                        <label><input name="accessory_ningxue" type="checkbox" value="true"/>凝血功能检查</label>
                                                        <label><input name="accessory_jiazhuangxian" type="checkbox" value="true"/>甲状腺功能检测</label>
                                                        <label><input name="accessory_niaorenshen" type="checkbox" value="true"/>尿妊娠试验</label>
                                                        <label><input name="accessory_penqiangchaosheng" type="checkbox" value="true"/>盆腔超声检查</label>
                                                        <label><input name="accessory_jichutiwen" type="checkbox" value="true"/>基础体温测定</label>
                                                        <label><input name="accessory_jisushuiping" type="checkbox" value="true"/>激素水平测定</label>
                                                        <label><input name="accessory_guagong" type="checkbox" value="true"/>诊断性刮宫或宫腔镜下刮宫</label>
                                                        <label><input name="accessory_qita" type="checkbox" value="true"/>其它</label>
                                                        其它说明:<input type="text" id="nameTxt16" value="无"/>
                                                    </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </table>
                                        </form>
    
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="otherBtn">提交</button>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--临床诊断-->
                            <div id="modal-table4" class="modal fade" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header no-padding">
                                            <div class="table-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    <span class="white">&times;</span>
                                                </button>
                                                临床诊断
                                            </div>
                                        </div>
    
                                        <form class="modal-body no-padding" id="form-cc">
                                            <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12">
                                                    <p>
                                                        中医诊断：
                                                    <p>
                                                        <label><input name="benglou" type="checkbox" value="true"/>崩漏</label>
                                                        <label><input name="yuejingguoduo" type="checkbox" value="true"/>月经过多</label>
                                                        <label><input name="yuejingxianqi" type="checkbox" value="true"/>月经先期</label>
                                                        <label><input name="jingqiyanchang" type="checkbox" value="true"/>经期延长</label>
                                                        <label><input name="jingjianqichuxie" type="checkbox" value="true"/>经间期出血</label>
                                                    </p>
                                                    <p>
                                                        虚证诊断：
                                                    <p>
                                                        <label><input name="shenyin" type="checkbox" value="true"/>肾阴虚症</label>
                                                        <label><input name="shenyang" type="checkbox" value="true"/>肾阳虚症</label>
                                                        <label><input name="shenqi" type="checkbox" value="true"/>肾气虚症</label>
                                                        <label><input name="piqi" type="checkbox" value="true"/>脾气虚症</label>
                                                        <label><input name="qixuxiaxian" type="checkbox" value="true"/>气虚下陷症</label>
                                                        <label><input name="xure" type="checkbox" value="true"/>虚热症</label>
                                                        <label><input name="xinpiliangxu" type="checkbox" value="true"/>心脾两虚症</label>
                                                        <label><input name="pishenyangxu" type="checkbox" value="true"/>脾肾阳虚症</label>
                                                        <label><input name="qixuekuixu" type="checkbox" value="true"/>气血亏虚症</label>
                                                        <label><input name="ganshenyinxu" type="checkbox" value="true"/>肝肾阴虚症</label>
                                                        <label><input name="qita_asthenic" type="checkbox" value="true"/>其它</label>
                                                        其它说明:<input type="text" id="nameTxt17" value="无"/>
                                                    </p>
                                                    <p>
                                                        实证诊断：
                                                    <p>
                                                        <label><input name="ganyuxuere" type="checkbox" value="true"/>肝郁血热症</label>
                                                        <label><input name="yangshengxuere" type="checkbox" value="true"/>阳盛血热症</label>
                                                        <label><input name="ganjingshire" type="checkbox" value="true"/>肝经湿热症</label>
                                                        <label><input name="tanreyuzu" type="checkbox" value="true"/>痰热瘀阻症</label>
                                                        <label><input name="tanshizuzhi" type="checkbox" value="true"/>痰湿阻滞症</label>
                                                        <label><input name="tanyuzuzhi" type="checkbox" value="true"/>痰瘀阻滞症</label>
                                                        <label><input name="yurehujie" type="checkbox" value="true"/>瘀热互结症</label>
                                                        <label><input name="xueyu" type="checkbox" value="true"/>血瘀症</label>
                                                        <label><input name="qizhixueyu" type="checkbox" value="true"/>气滞血瘀症</label>
                                                        <label><input name="hanningxueyu" type="checkbox" value="true"/>寒凝血淤症</label>
                                                        <label><input name="qita_demonstration" type="checkbox" value="true"/>其它</label>
                                                        <p>
                                                        其它说明:<input type="text" id="nameTxt18" value="无"/>
                                                    </p>
    
                                                    <p>
                                                        虚实夹杂诊断：
                                                    <p>
                                                        <label><input name="shenxuxueyu" type="checkbox" value="true"/>肾虚血瘀症</label>
                                                        <label><input name="shenxuyure" type="checkbox" value="true"/>肾虚瘀热症</label>
                                                        <label><input name="shenxuganyu" type="checkbox" value="true"/>肾虚肝郁症</label>
                                                        <label><input name="qixuxueyu" type="checkbox" value="true"/>气虚血瘀症</label>
                                                        <label><input name="yinxuxueyu" type="checkbox" value="true"/>阴虚血瘀症</label>
                                                        <label><input name="yinxuhuowang" type="checkbox" value="true"/>阴虚火旺症</label>
                                                        <label><input name="ganyupixu" type="checkbox" value="true"/>肝郁脾虚症</label>
                                                        <label><input name="qita_def_ex" type="checkbox" value="true"/>其它</label>
                                                        其它说明:<input type="text" id="nameTxt19" value="无"/>
                                                    </p>
                                                    <p>
                                                        西医诊断：
                                                    <p>
                                                        <label><input name="duonangluanchao" type="checkbox" value="true"/>多囊卵巢综合症</label>
                                                        <label><input name="gaomirusu" type="checkbox" value="true"/>高泌乳素血症</label>
                                                        <label><input name="dicuxingxianjisu" type="checkbox" value="true"/>低促行线激素疾病</label>
                                                        <label><input name="qita_west" type="checkbox" value="true"/>其它</label>
                                                        <p>
                                                        其它说明:<input type="text" id="nameTxt20" value="无"/>
                                                    </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </table>
                                        </form>
    
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="ccBtn">提交</button>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div><!-- /.main-content -->

        </div><!-- /.main-container-inner -->

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="icon-double-angle-up icon-only bigger-110"></i>
        </a>
    </div>


    <!--[if !IE]> -->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='../public/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->

    <!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='../public/js/jquery.mobile.custom.min.js'>" + "<" +
            "/script>");
    </script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/typeahead-bs2.min.js"></script>

    <!-- page specific plugin scripts -->
    <script src="../public/js/jquery.dataTables.min.js"></script>
    <script src="../public/js/jquery.dataTables.bootstrap.js"></script>
    <!-- ace scripts -->

    <script src="../public/js/ace-elements.min.js"></script>
    <script src="../public/js/ace.min.js"></script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {
            var oTable1 = $('#sample-table-2').dataTable({
                "aoColumns": [{
                        "bSortable": false
                    },
                    null, null, null, null, null,
                    {
                        "bSortable": false
                    }
                ]
            });
            $('table th input:checkbox').on('click', function () {
                var that = this;
                $(this).closest('table').find('tr > td:first-child input:checkbox')
                    .each(function () {
                        this.checked = that.checked;
                        $(this).closest('tr').toggleClass('selected');
                    });
            });
            $('[data-rel="tooltip"]').tooltip({
                placement: tooltip_placement
            });

            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table')
                var off1 = $parent.offset();
                var w1 = $parent.width();
                var off2 = $source.offset();
                var w2 = $source.width();
                if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
                return 'left';
            }
        })
    </script>

    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + ""));
    </script>
</body>

</html>